body {
  margin: 0;
  font-family: Arial;
  background: #070b14;
  color: #ffffff;
}

/* HEADER */
header {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  border-bottom: 1px solid #1f2937;
}

header h1 {
  color: #00ffcc;
  letter-spacing: 2px;
}

/* NAV */
nav a {
  margin: 10px;
  color: #ffffff;
  text-decoration: none;
}

nav a:hover {
  color: #00ffcc;
}

/* TICKER */
.ticker {
  background: #111827;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #00ffcc;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.panel {
  background: #111827;
  padding: 20px;
  border-left: 3px solid #00ffcc;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
  margin-top: 20px;
}
footer a {
  color: #00ffcc;
  text-decoration: none;
  margin: 0 10px;
}

footer a:hover {
  text-decoration: underline;
}
.hero-image {
  width: 100%;
  height: 350px;
  background-image: url("Profile.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-bottom: 2px solid #00ffcc;
}
